@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Add a Vendor</h1>
  </div>

  <div class="card">
    <form class="formLook" action="/vendors" method="post">
      <div class="row">
        <div class="col-md-6">
          <label for="vendorName">Vendor Name: </label>
          <input id="vendorName" name="vendorName" type="text" placeholder="Vendor Name Goes Here">
        </div>
        <div class="col-md-6">
          <label for="vendorDescription">Vendor Description: </label>
          <input id="vendorDescription" name="vendorDescription" type="text" placeholder="Vendor Description Goes Here">
        </div>
        <br>
        <button class="bottombtn btn-success" type="submit">Add Vendor</button>
      </div>
    </form>
  </div>
</div>