@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Add a Vendor</h1>
  </div>

  <div class="card">
    <form action="/vendors" method="post">
      <label class="top-margin" for="vendorName">Vendor Name: </label>
      <input id="vendorName" name="vendorName" type="text" placeholder="Vendor Name Goes Here">
      <label for="vendorDescription">Vendor Description: </label>
      <input id="vendorDescription" name="vendorDescription" type="text" placeholder="Vendor Description Goes Here">
      <br>
      <button class="bottom btn-success" type="submit">Add Vendor</button>
    </form>
  </div>
</div>