@{
  Layout = "_Layout";
}

<div class="container">
  @using OrderTracker.Models;
  <div class="jumbotron">
    <h1>Orders for @Model["vendor"].VendorName</h1>
  </div>
  @if (@Model["orders"].Count == 0)
  {
    <h4 class="none">There are currently no Orders for this Vendor</h4>
    <p class="none">Please add a new order!</p>
  }
  @foreach (Order order in @Model["orders"])
  {
    <h4 class="none"><a class="link" href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></h4>
  }
  <div class="row" id="btnRow">
    <a href='/vendors/@Model["vendor"].Id/orders/new'><button class="btn-success">Add a new Order</button></a>
    <form action="/orders/delete" method="post">
      <button class="btn-danger" type="submit" name="button">Clear All Orders</button>
    </form>
  </div>
</div>