<div class="header">
  <a class="head" href="/"><button class="btn-info">Home</button></a>
  <a class="head" href='/vendors'><button class="btn-primary">Vendors</button></a>
  <a class="head" href='/vendors/new'><button class="btn-success">Add a new Vendor</button></a>
</div>