@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Pierres Order Tracker</h1>
    <p>Create or view orders from the Nav Bar on top.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card pic1">

      </div>
    </div>
    <div class="col-md-4">
      <div class="card pic2">

      </div>
    </div>
    <div class="col-md-4">
      <div class="card pic3">

      </div>
    </div>
  </div>

  
</div>