@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Order Tracker</h1>
    <p>Create or view orders below</p>
  </div>

  <a href='/vendors/new'><button class="btn-success">Add a new Vendor</button></a>
</div>