@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Pierres Order Tracker</h1>
    <p>Create or view Vendors from the Nav Bar on top. Add Orders from the specific Vendors page.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="https://sallysbakingaddiction.com/soft-dinner-rolls/">
      <div class="card pic1">
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.livewellbakeoften.com/scone-recipe/">
      <div class="card pic2">
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.bettycrocker.com/recipes/ultimate-chocolate-chip-cookies/77c14e03-d8b0-4844-846d-f19304f61c57">
      <div class="card pic3">
      </div>
      </a>
    </div>
  </div>

  
</div>