div.header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgba(128, 66, 15, 0.856);
  padding:8px;
}

body {
  text-align: center;
  background-color: #CCC;
  background-image: url("https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFrZXJ5fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-margin {
  margin-top: 4vh;
}

.bottom {
  margin-bottom: 4vh;
}

.bottombtn {
  margin-bottom: 4vh;
  margin-left: 35vw;
}

.jumbotron {
  margin-top: 10vh;
  background-color: darkgoldenrod;
  padding: 20px;
  margin-left: 12vh;
  margin-right: 12vh;
}

.pic1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcKD9gVemW6XRyteA-CZM6MuPGcs1I9px5CA&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.pic2 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ-ryfopAYxtup_ydxo54KFeG2f-SPjGzWTg&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.pic3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCiTZcTHfkwVBrSxv5Q7Sy9fRC-_STcDuFMpvdLz6tHdBXJayG0Vr4n2xG9XgXdQDlJC8&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

#orderTitle, #orderDescription, #orderPrice, #orderDate, #vendorName, #vendorDescription {
  margin-top: 2vh;
}

.formLook {
  background-color: burlywood;
}

ul {
  background: rgba(128, 66, 15, 0.856);
}

li {
  font-size: 20px;
}

.link {
  color: rgb(255, 255, 255);
}

.link:hover {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.head:hover {
  font-size: 20px;
}

.none {
  color: white;
  background: rgba(128, 66, 15, 0.856);
  padding: 5px;
}

.orderCard {
  background: rgba(128, 66, 15, 0.856);
  color: white;
}

.add {
  margin-top: 5vh;
}

#btnRow {
  margin-left: 27vw;
}

