@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Your Orders have been removed!</h1>
  </div>
  <a href='/vendors'><button class="btn-success">Back to Vendor List</button></a>
</div>