@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Your Orders have been removed!</h1>
  </div>
  
  <h4 class="removed">Use the nav bar on top to view all vendors in the vendor list or create a new one.</h4>
  <h4 class="other">Add a new order from inside a vendor list.</h4>
</div>