@{
  Layout = "_Layout";
}

<div class="container">
  @using OrderTracker.Models;
  <div class="jumbotron">
    <h1>Vendor Order List</h1>
  </div>
  @if (Model.Count == 0)
  {
    <h4>There are currently no orders for this vendor.</h4>
    <p>Please add a new order below!</p>
  }
  <ul>
    @foreach (Order order in Model)
    {
      <li><a href='/orders/@order.Id'>@order.OrderTitle</a></li>
    }
  </ul>
  <h2>Delete all Orders or Add a new Order here!</h2>
  <a href="/orders/new"><button class="btn-success">Add new Order</button></a>
  <form action="/artists/delete" method="post">
    <button class="btn-danger" type="submit" name="button">Clear All Orders</button>
  </form>
  
</div>