@{
  Layout = "_Layout";
}

<div class="container">
  @using OrderTracker.Models;
  <div class="jumbotron">
    <h1>Vendor Order List</h1>
  </div>
  
    @foreach (Order order in Model)
    {
      <h4 class="none"><a class="link" href='/orders/@order.Id'>@order.OrderTitle</a></h4>
    }
  
  <h2>Delete all Orders or Add a new Order here!</h2>
  <a href="/orders/new"><button class="btn-success">Add new Order</button></a>
  <form action="/artists/delete" method="post">
    <button class="btn-danger" type="submit" name="button">Clear All Orders</button>
  </form>
  
</div>