@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Add a new Order for @Model.VendorName</h1>
  </div>

  <div class="card">
    <form action="/vendors/@Model.Id/orders" method="post">
      <input for="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <div class="row">
      <div class="col-md-3">
        <label for="orderTitle">Order Title: </label>
        <input id="orderTitle" name="orderTitle" type="text" placeholder="Order Title Goes Here!">
      </div>
      <div class="col-md-3">
        <label for="orderDescription">Order Description: </label>
        <input id="orderDescription" name="orderDescription" type="text" placeholder="Order Description Goes Here!">
      </div>
      <div class="col-md-3">
        <label for="orderPrice">Order Price: </label>
        <input id="orderPrice" name="orderPrice" type="number" placeholder="Order Price Goes Here">
      </div>
      <div class="col-md-3">
        <label for="orderDate">Order Date: </label>
        <input id="orderDate" name="orderDate" type="date" placeholder="Order Date Goes Here">
      </div>
      </div>
      <br>
      <button class="bottom btn-success" type="submit">Add Order!</button>
    </form>
  </div>
</div>